@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

section {
  display: flex;
  flex-wrap: wrap;
}

.photo {
  display: block;
  width: 100%;
}

.photo:nth-child(2) {
  display: none;
}

.photo:last-child {
  display: none;
}

@media only screen and (min-width: 25em) {

  .photo {
    display: inline;
    width: 50%;
  }

  .photo:first-child {
    width: 100%;
  }

  .photo:nth-child(2) {
    display: inline;
  }

  .photo:last-child {
    display: inline;
  }

}

@media only screen and (min-width: 38em) {

  .photo {
    display: inline;
    width: 33.33%;
  }

  .photo:first-child {
    width: 100%;
  }

  .photo:nth-child(2) {
    display: inline;
  }

  .photo:last-child {
    display: none;
  }

}

@media only screen and (min-width: 60em) {

  .photo {
    display: inline;
    width: 33.33%;
  }

  .photo:first-child {
    width: 66.66%;
  }

  .photo:nth-child(2) {
    display: inline;
  }

  .photo:last-child {
    display: inline;
  }

}
